*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator{
    width: 500px;
    background-color: red;
    text-align: center;
    margin-top: 50px;
    margin: auto;
}
.calculator h1{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    font-style: italic;
    border-bottom: 2px solid crimson;
    margin-bottom: 30px;
}
.dial-pad{
    display: inline-block;
    margin: auto;
    border: 4px solid rgb(70, 49, 157);
    border-radius: 27px;
    background: #d84ee1;
    padding: 14px;
}
input{
    outline: none;
    border: 4px solid #46319d;
    width: 297px;
    border-radius: 16px;
    height: 63px;
    margin-bottom: 6px;
    background-color: #464444c7;
    padding-left: 10px;
    color: white;
    font-size: 18px;
}
button {
    width: 91px;
    padding: 20px 46px;
    border: 1px solid #8080800d;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #4a2e2e57;
    font-weight: bold;
    margin: 2px;
    color: white;
    font-size: 21px;
    background-color: #684c68b0;
    transition: .5s;
}
button:hover{
    box-shadow: 2px 2px 10px white;
}


.footer h5{
    margin: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}